.fruit-top {
    padding: 0rem 2rem 0rem;
}

.fruit-top h1 {
    border-bottom: 3px solid var(--color-dark-pink);
    padding: 2rem 0rem 2rem;
    text-align: center;
    font-size: calc(14px + 3vw);
}

.three-pics {
    display: flex;
    flex-wrap: wrap;
    padding: 0.7rem 0rem 1rem;
    justify-content: space-around;
}

.three-pics img {
    width: 26vw;
    max-width: 270px;
    /* padding-left: 2rem; */
    padding-top: 0.3rem;
}

.fruit-dates-news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.fruit-dates-box {
    padding-right: 5rem;
    padding-top: 1rem;
}

.fruit-news-box {
    padding-top: 1rem;
    max-width: 25rem;
}

.dates-box-inner {
    display: flex;
    justify-content: flex-start;
    padding-right: 1rem;
}

.dates-box-inner-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.givem-a-little-space-1 {
    padding-bottom: 0.4rem;
}

/* this is a complete and utter hack */
.dates-box-inner-2 {
    border-top: 2px solid var(--color-dark-pink);
    border-bottom: 2px solid var(--color-dark-pink);
    margin: 0.69rem 0.8rem;
}

.dates-box-inner-2 p {
    color: var(--color-bg);
}

.dates-box-inner-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin: 0.5rem 0rem; */
}

.givem-a-little-space-2 {
    padding-bottom: 1.27rem;
}

.date-bold {
    font-weight: bold;
}

.view-recipes-box {
    border-top: 2px solid var(--color-dark-pink);
    border-bottom: 2px solid var(--color-dark-pink);
    margin: 2rem 0rem 2rem;
}

.view-recipes-box h2 {
    font-family: var(--simple-font);
    color: var(--color-green);
    text-align: center;
    padding: 1rem 0rem 1rem;
}

.fruit-info-container-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fruit-info-paragraph-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 40rem;
    min-width: 22rem;
    padding-right: 1rem;
}

.fruit-info-paragraph-box p {
    text-indent: 2rem;
}

.fruit-info-pictures-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.fruit-info-pictures-box img {
    width: 300px;
    padding-bottom: 1rem;
}

.fruit-info-container-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
}

.fruit-info-container-mobile img {
    width: 280px;
    padding-bottom: 1rem;
}

.fruit-info-container-mobile p {
    padding-bottom: 1rem;
}

.fruit-paragraph {
    padding-bottom: 1rem;
}

.fruit-paragraph h2 {
    font-size: 2.3rem;
    max-width: 22rem;
}

/* the point at which the info container switches to one column */
@media (max-width: 1010px) {
    .fruit-info-container-desktop {
        display: none;
    }
    
    .fruit-info-container-mobile {
        display: flex;
    }

    .fruit-info-container-mobile p {
        max-width: 700px;
    }
}