.social-links td {
    padding: .1rem;
    cursor: pointer;
}

.phone-icon {
    position: relative;
    top: -3.5px;
    left: 1.5px;
}

.email-icon {
    position: relative;
    left: 0.7px;
}


/* fixes icon alignment when they switch from a square to vertical */
@media screen and (max-width: 472px) {
    .email-icon {
        top: -10px;
        left: -0.7px;
    }
}
